# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=tts_system

# Ngrok (public URL banane ke liye)
NGROK_TOKEN=your-ngrok-authtoken

# Paths
VOICES_DIR=voices
CACHE_DIR=cache
OUTPUT_DIR=audio_output

# Model
DEFAULT_LANGUAGE=hi
MAX_CHUNK_LENGTH=250
